@import "variables.scss";
@import "general.scss";

.hero {
    margin: 0;
    padding: 240px 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("../images/hero.png");
    background-position: center;
    background-size: cover;

    &__title {
        margin: 0;
        padding: 0;
        line-height: 77px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__text {
        width: 787px;
        margin: 15px auto;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $light-gray;
    }

    &__bttns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__bttn {
        border: 1px solid $green;
        border-radius: 5px;
        padding: 12px 50px;
        background-color: $green;

        &:hover {
            background-color: $white;
            color: $green;
            border-color: $white;
        }
    }

    &__videobttn {
        display: flex;
        align-items: center;
        border-color: $white;
        padding: 10px 35px;
        background-color: transparent;
        margin-left: 13px;

        &:hover {
            background-color: $green;
            color: $white;
            border-color: $green;
        }
    }

    &__numbers {
        position: absolute;
        right: 100px;
        top: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        opacity: 0.7;
    }

    &__number {
        padding: 16px 0;

        &::after {
            display: block;
            content: "";
            width: 0%;
            height: 1px;
            background-color: $green;
            transition: width 0.4s initial;
        }

        &:hover {
            color: $green;
            opacity: 1;
            &::after {
                width: 100%;
            }
        }
    }
}

.play__bttn {
    margin-right: 10px;
}