@import "variables.scss";
@import "general.scss";

.seventh {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 120px 0;

    &__title {
        margin-bottom: 35px;
        font-weight: 900;
        text-transform: capitalize;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        gap: 70px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 518px;
    }
}

.sevencard{
    &__img {
        width: 360px;
        height: 335px;
        margin-bottom: 20px;
    }

    &__title {
        font-family: 'Lato';
        font-weight: 900;
        font-size: 20px;
        line-height: 140%;
        text-align: left;
        min-height: 55px;
    }

    &__text {
        text-align: left;
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        margin-bottom: 10px;
        min-height: 72px;
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__calendar {
        margin-right: 8px;
    }
    &__date {
        line-height: 24px;
        opacity: 0.8;
    }
    &__link {
        position: relative;
        text-align: right;
        font-weight: 900;
        color: $green;
        margin-left: 99px;

        &::after {
            position: absolute;
            top: 5px;
            right: -20px;
            width: 16px;
            height: 12px;
            content: "";
            background-image: url("../images/arrow.png");
        }
    }
}