@import "variables.scss";
@import "general.scss";

.sixth {
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url("../images/bg-email.png");
    background-position: center;
    background-size: cover;

    &__title {
        color: $white;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-transform: capitalize;
        width: 570px;
    }

    &__input {
        width: 421px;
        height: 20px;
        padding: 12px 25px;
        margin: 0;
        border-radius: 5px;
        border: 1px solid $white;
        background: transparent;
        backdrop-filter: blur(2px);
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        opacity: 0.8;
    }

    &__bttn {
        padding: 12px 45px;
        margin-left: 25px;
        background-color: $green;
        border-radius: 5px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;

        &:hover {
            color: $green;
            background-color: $white;
        }
    }
}

.cntnt__six {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding: 128px 100px;
}